@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KleeOne';
  src: url('../src/assets/fonts/KleeOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../src/assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Manrope";
}

body {
  margin: 0;
  /* background-color: #efefef; */
  background-image: url('../src/assets/bg-image.png');
  background-repeat: no-repeat;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  font-family: "KleeOne", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1;
  font-family: "KleeOne", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1.17em;
  line-height: 1.1;
  font-family: "KleeOne", sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  line-height: 1.1;
  font-family: "KleeOne", sans-serif;
  font-weight: 600;
}

ul {
  list-style-type: disc; /* o 'circle', 'square', 'decimal', etc. */
}

.text-wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Cambia 3 al número de líneas que desees mostrar */
  overflow: hidden;
}

.font-KleeOne {
  font-family: "KleeOne", sans-serif;
}
