@import "tailwindcss";

:root {
  --font-manrope: 'Manrope', sans-serif;
}

html {
  font-family: var(--font-manrope);
}

html:not(.loaded) body {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

html.loaded body {
  opacity: 1;
}

body {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}
